name: Run ADO Organization User Migration

on:
  workflow_dispatch:
    inputs:
      SourceOrganizationName:
        description: "Name of the Source Organization"
        required: true
        default: "AIZ-GL"
      SourceProjectName:
        description: "Name of the Source Project"
        required: true
        default: "GL.CL-Elita"
      TargetOrganizationName:
        description: "Name of the Target Organization"
        required: true
        default: "AIZ-Global"
      TargetProjectName:
        description: "Name of the Target Project"
        required: true
        default: "GL.CL-Elita-migrated"
      WhatIf:
        type: boolean
        description: "WhatIf: Dry Run"
        required: false
        default: true
          

jobs:
  run-powershell-script:
    name: Run PowerShell Script
    runs-on: 'self-hosted'
    env:
      AZURE_DEVOPS_MIGRATION_PAT: ${{ secrets.AZURE_DEVOPS_MIGRATION_PAT }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set Migration Configuration 
        shell: pwsh
        run: |
          $SourceOrganizationUrl = "https://dev.azure.com/${{ github.event.inputs.SourceOrganizationName }}/"
          $TargetOrganizationUrl = "https://dev.azure.com/${{ github.event.inputs.TargetOrganizationName }}/"
          $projectDirectory = "./"

          $LocalConfigPath = "configuration\configuration.json"
          $filePath = Resolve-Path -Path "$LocalConfigPath"
          Write-Host "FILEPATH: $filePath"   
          
          $configuration = [Object](Get-Content $LocalConfigPath | Out-String | ConvertFrom-Json)
          $configuration.SourceProject.Organization = "$SourceOrganizationUrl"
          $configuration.SourceProject.ProjectName = "${{ github.event.inputs.SourceProjectName }}"
          $configuration.SourceProject.OrgName = "${{ github.event.inputs.SourceOrganizationName }}"
          $configuration.TargetProject.Organization = "$TargetOrganizationUrl"
          $configuration.TargetProject.ProjectName = "${{ github.event.inputs.TargetProjectName }}"
          $configuration.TargetProject.OrgName = "${{ github.event.inputs.TargetOrganizationName }}"
          $configuration.ProjectDirectory = $projectDirectory
          $configuration.WorkItemMigratorDirectory = "${{ vars.WorkItemMigratorDirectory }}"
          $configuration.DevOpsMigrationToolConfigurationFile = "${{ vars.DevOpsMigrationToolConfigurationFile }}"
          $configuration.ArtifactFeedPackageVersionLimit = ${{ vars.ArtifactFeedPackageVersionLimit }}
          $configuration | ConvertTo-Json -Depth 100 | Set-Content $LocalConfigPath
          
          $configuration2 = [Object](Get-Content $LocalConfigPath | Out-String | ConvertFrom-Json)
          Write-Host (ConvertTo-Json -Depth 100 $configuration2)

      - name: Run Migrate-Project PowerShell script
        shell: pwsh
        run: |
          $whatIfDryRun = "${{ github.event.inputs.WhatIf }}"
          $WhatIf = $whatIfDryRun -match "true"

          & ./Step_X_Migrate_Org_Level_Users.ps1 -WhatIf $WhatIf

      - name: Archive code coverage results
        uses: actions/upload-artifact@v3
        with:
          name: migration-run-logs
          path: "./Projects"

